.vscode/**
src/**
test/**
node_modules/**
**/*.ts
**/*.map
esbuild.mjs
vitest.config.ts
tsconfig.json
scripts/**
.gitignore
**/.DS_Store
coads.vsix
.vsce-pat-tmp
.env
.env.*
**/*.pem
**/*.key
media/gen_assets.py
media/logo/**
